services:
  mysql:
    container_name: mysql
    image: mysql:8.4.7
    environment:
      MYSQL_DATABASE: my_db
      MYSQL_USER: my_user
      MYSQL_PASSWORD: my_password
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    networks:
      - application-network

  redis:
    container_name: redis
    image: redis:7.4.7
    ports:
      - "6379:6379"
    networks:
      - application-network

  localstack:
    container_name: localstack
    image: localstack/localstack:3.8.1
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,dynamodb
      - DEBUG=1
      - AWS_ACCESS_KEY_ID=accessKey
      - AWS_SECRET_ACCESS_KEY=secretKey
    volumes:
      - ./init-localstack.sh:/etc/localstack/init/ready.d/init.sh
    networks:
      - application-network

networks:
  application-network:
    name: application-network
